.video__iframes {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
