.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: black;
  position: absolute;
  top: 50%;
  right: 48px;
  transition: opacity .7s;
}

.feynman__link:hover {
  opacity: .6;
}

