.feynman{
  background: url(../../images/feynman.png) no-repeat 0% 100% / contain;
  background-size: 867px 637px;
  background-color: #f2f2f2;
  padding-top: 80px;
  position: relative;
  min-height: 790px;
}
