.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  background: url(../../../images/kaufman-triangle.svg) no-repeat;
  background-size: contain;
  top: 0;
  right: -210px;
}
